{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block styles %}
    <style>
        * {
            box-sizing: border-box
        }

        h1{
            text-align: center;
        }
        
        input[type=text], input[type=password], input[type=email] {
            width: 100%;
            padding: 15px;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }
        
        input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
            background-color: #ddd;
            outline: none;
        }
        
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }
        
        button {
            background-color: #70DCF8;
            color: black;
            font-weight: bold;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }
        
        button:hover {
            opacity:1;
        }
        
        .container {
            padding: 30px;
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 2px 2px #888888;
        }
    </style>
{% endblock styles %}

{% block profile %}active{% endblock %}


{% block content %}
<div class="container">
    <h1>Update Profile</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="save" type="submit">Update</button>
    </form>
</div>

{% endblock content %}