{% extends 'base.html' %}

{% load static %}

{% block title %}Commission List{% endblock %}

{% block styles %}
    <style>
        img{
            height:auto;
        }
        .card{
            width:15vw;
            margin: 1%;
            margin-bottom: 0px;
        }
        .activities{
            display:flex;
            justify-content: space-evenly;
            height: 32vh;
        }
        .card{
            width:50%;
            height:auto;
        }
        .card-header{
            background-color: black;
            color:white;
        }
    </style>
{% endblock styles %}

{% block comm %}active{% endblock %}

{% block content %}
    <div id="merch" class="activities">
        <div class="card">
            <div class="card-header">
                <strong><h3>Products Bought</h3></strong>
            </div>
            <div class="overflow-auto">
                {% for owner in owners %}
                    {% if owner != request.user.profile %}
                        {% for transaction in transactions %}
                            {% if transaction.product.owner == owner and transaction.buyer == request.user.profile %}
                                <h4>{{ transaction.product.name }} - {{ transaction.amount }}pcs</h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <strong><h3>Products Sold</h3></strong>
            </div>
            <div class="overflow-auto">
                {% for buyer in buyers %}
                    {% if buyer != request.user.profile %}
                        {% for transaction in transactions %}
                            {% if transaction.buyer == buyer and transaction.product.owner == request.user.profile%}
                                <h4>{{ transaction.product.name }} - {{ transaction.amount }}pcs</h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="wiki forum" class="activities">
        <div class="card">
            <div class="card-header">
                <strong><h3>Wiki Articles Created</h3></strong>
            </div>
            <div class="overflow-auto">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <strong><h3>Threads Created</h3></strong>
            </div>
            <div class="overflow-auto">
            </div>
        </div>
    </div>
    <div id="comm" class="activities">
        <div class="card">
            <div class="card-header">
                <strong><h3>My Commissions</h3></strong>
            </div>
            <div class="overflow-auto">
                {% if my_commissions.exists %}
                    {% for commission in my_commissions %}
                        <h4 class="card-body">{{ commission.title }}</h4>
                    {% endfor %}
                {% else %}
                    <h5 class="card-body">No Applied Commissions Yet</h4>
                {% endif %}
            </div>
            
        </div>
        <div class="card">
            <div class="card-header">
                <strong><h3>Applied Commissions</h3></strong>
            </div>
            <div class="overflow-auto">
                {% if applied_commissions.exists %}
                    {% for commission in applied_commissions %}
                        <h4 class="card-body">{{ commission.title }}</h3>
                    {% endfor %}
                {% else %}
                    <h4 class="card-body">No Applied Commissions Yet</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
