{% extends 'base.html' %}

{% load static %}

{% block title %}Commission List{% endblock %}



{% block styles %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
    <style>
        img{
            height:auto;
        }
        .card{
            margin: 1%;
            margin-bottom: 10px;
            width:50%;
            height:auto;
        }
        .activities{
            display:flex;
            justify-content: space-evenly;
            height: 32vh;
        }
        .card-header{
            background-color: black;
            color:white;
        }

        a{
            display: block;
            text-decoration: none;
            color: black;
            width: fit-content;
            font-weight: 600;
            font-size: large;
        }

        a:hover{
            color: black;
            opacity: 0.7;
            transition: opacity 0.3s ease;
        }
    </style>
{% endblock styles %}

{% block content %}
    <div id="merch" class="activities">
        <div class="card">
            <div class="card-header">
                <strong><h3>Products Bought</h3></strong>
            </div>
            <div class="overflow-auto">
                {% for owner in owners %}
                    {% if owner != request.user.profile %}
                        {% for transaction in transactions %}
                            {% if transaction.product.owner == owner and transaction.buyer == request.user.profile %}
                                <h4>{{ transaction.product.name }} - {{ transaction.amount }}pcs</h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <strong><h3>Products Sold</h3></strong>
            </div>
            <div class="overflow-auto">
                {% for buyer in buyers %}
                    {% if buyer != request.user.profile %}
                        {% for transaction in transactions %}
                            {% if transaction.buyer == buyer and transaction.product.owner == request.user.profile%}
                                <h4>{{ transaction.product.name }} - {{ transaction.amount }}pcs</h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="wiki forum" class="activities">
        <div class="card">
            <div class="card-header">
                <strong><h3>Wiki Articles Created</h3></strong>
            </div>
            <div class="overflow-auto">
                {% if my_articles.exists %}
                    {% for article in my_articles %}
                        <h4 class="card-body">{{ article.title }}</h4>
                    {% endfor %}
                {% else %}
                    <h4 class="card-body">No Written Articles</h4>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <strong><h3>Threads Created</h3></strong>
            </div>
            <div class="overflow-auto">
                {% if user_threads.exists %}
                    {% for threads in user_threads %}
                        <a class="card-body" href="{{ threads.get_absolute_url }}">{{ threads.title }}</a>
                    {% endfor %}
                {% else %}
                    <h5 class="card-body">No Threads Created Yet</h4>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="comm" class="activities">
        <div class="card">
            <div class="card-header">
                <strong><h3>My Commissions</h3></strong>
            </div>
            <div class="overflow-auto">
                {% if my_commissions.exists %}
                    {% for commission in my_commissions %}
                        <h4 class="card-body">{{ commission.title }}</h4>
                    {% endfor %}
                {% else %}
                    <h4 class="card-body">No Applied Commissions Yet</h4>
                {% endif %}
            </div>
            
        </div>
        <div class="card">
            <div class="card-header">
                <strong><h3>Applied Commissions</h3></strong>
            </div>
            <div class="overflow-auto">
                {% if applied_commissions.exists %}
                    {% for commission in applied_commissions %}
                        <h4 class="card-body">{{ commission.title }}</h3>
                    {% endfor %}
                {% else %}
                    <h5 class="card-body">No Applied Commissions Yet</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
