{% extends 'base.html' %}

{% load static %}

{% block title %}Product Details{% endblock %}

{% block styles %}
    <style>
        #details {
            display: block;
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 2px 2px #888888;
            margin-bottom: 10px;
            word-wrap: break-word;
        }
    </style>
{% endblock styles %}

{% block merch %}active{% endblock %}

{% block content %}
    <h2 style="text-align: center;">Merchandise Store</h2>
    <div id="details">
        <h3>{{ product.name }} - Php {{ product.price }}</h3>
        <p>Product Type: {{ product.product_type }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Stock: {{ product.stock }}</p>
        <p>Status: {{ product.status }}</p>
    </div>

    {% if product.owner != request.user.profile %}
        {% if product.stock > 0 %}
            <h4>Purchase a Product</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Buy</button>
                </form>
        {% else %}
            <p>This product is out of stock.</p>
            <button type="button" disabled>Buy</button>
        {% endif %}
    {% else %}
            <a href="{% url 'merchstore:merch_update' pk=product.pk %}">Edit Product</a>
    {% endif %}
{% endblock content %}