{% extends 'base.html' %}

{% load static %}

{% block title %}Product Details{% endblock %}

{% block styles %}
    <style>
        #details {
            display: block;
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 2px 2px #888888;
            margin-bottom: 10px;
            word-wrap: break-word;
        }
    </style>
{% endblock styles %}

{% block merch %}active{% endblock %}

{% block content %}
    <h2 style="text-align: center;">{{ product }}</h2>
    <div id="details">
        <h3>{{ product.name }} - Php {{ product.price }}</h3>
        <p>{{ product.description }}</p>
        <h4>{{ product.product_type }}</h4>
        <p>{{ product.product_type.description }}</p>
    </div>
{% endblock content %}