{% extends 'base.html' %}

{% load static %}

{% block title %}Merchandise Store{% endblock %}

{% block styles %}
    <style>     
        #status{
            background-color: #70DCF8;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 16px;
        }

        #merch_list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1.5fr;
            gap: 5px;
            width: 100%;
            height: 100%;
            list-style-type: none;
            background-color: white;
            text-align: center;
        }

        #merch_list li a{
            display: block;
            color: black;
            font-size: 20px;
            padding: 10px 20px;
            text-decoration: none;
            background-color: #70DCF8;
        }

        #merch_list li a:hover {
            opacity: 0.7;
            transition: opacity 0.3s ease;
        }
    </style>
{% endblock styles %}

{% block merch %}active{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h2 style="text-align: center;">My Products</h2>
        <div id="merch_list">
            {% for product in object_list %}
                {% if product.owner == request.user.profile %}
                    <li>
                        <h4>{{ product_type }}</h4>
                        <h3><a href="{{ product.get_absolute_url }}">{{ product }}</a></h3>
                        <p>Php - {{ product.price }}</p>
                        <h4 id="status"><a href="{{ product.get_absolute_url }}">{{ product.status }}</a></h4>
                    </li>
                {% endif %}
            {% endfor %}
        </div>
        <a href="{% url 'merchstore:merch_create' %}">Create a New Product</a>
    {% endif %}
    <h2 style="text-align: center;">Products 4 Sale</h2>
    <div id="merch_list">
        {% for product in object_list %}
            {% if product.owner != request.user.profile %}
                <li>
                    <h3><a href="{{ product.get_absolute_url }}">{{ product }}</a></h3>
                    <p>Php - {{ product.price }}</p>
                    <h4 id="status"><a href="{{ product.get_absolute_url }}">{{ product.status }}</a></h4>
                </li>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}